<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
div.pull-right:hover 
{
	color: red;
	cursor:pointer;
}


</style>

<script type="text/javascript">

const APP_TYPE_MAP = {
    "Control Application" : 0,
    "Monitor Application" : 1,
    0 : "Control Application",
    1 : "Monitor Application"
};
const CHECK_AVAILABILITY_GOOD = 0;
const CHECK_AVAILABILITY_BAD = -1;

$(document).ready(function(){
	var urlArgs = getUrlParameter();
	$("#id_test").text("Hihao " + urlArgs["name"]);

	$("#id_createApp").bind("click", createAppClickedHandler);
	$("#id_off").bind("click", logoffClickedHandler);
	loadAllApplications();
	setupWebsocket(urlArgs["email"]);
});

function delAPPClickedHanlder()
{
	let appName = $(this).data("AppName");
	let appType = $(this).data("AppType");
	let args = { AppName : appName, AppType : appType };
	let url = "/deleteApp";
	function successFunc(res)
	{
		console.log("Delete App Success: " + res);
		if ( !res.errno )
		{
			loadAllApplications();
		}
	}
	ajexCall(args, url, successFunc);
}

function controlCheckBoxClickedHandler()
{
	let appName = $(this).data("AppName");
	let appType = $(this).data("AppType");
	let value 	= $(this).is(":checked") ? 1 : 0;
	let args = { AppName : appName, AppType : appType, Data: value};
	let url = "/updateAppData";
	ajexCall(args, url);
}

function loadAllApplications()
{
	let args = {};
	let url = "/loadAllApplications";
	function successFunc(res)
	{
		console.log(res);
		$("#id_appDashBoard").empty();
		for ( let i in res )
		{
			let appInfo = res[i];
			let rc = createAppHtmlDiv(appInfo);
			$("#id_appDashBoard").append(rc.HtmlStr);
			$("#" + rc.DelDivId).data("AppName", appInfo.AppName);
			$("#" + rc.DelDivId).data("AppType", appInfo.AppType);
			if ( appInfo.AppType === APP_TYPE_MAP["Control Application"] )
			{
				$("#" + rc.HtmlTagId).bind("click", controlCheckBoxClickedHandler);
				$("#" + rc.HtmlTagId).data("AppName", appInfo.AppName);
				$("#" + rc.HtmlTagId).data("AppType", appInfo.AppType);
			}
		}
		$(".pull-right").bind("click", delAPPClickedHanlder);
	}
	ajexCall(args, url, successFunc);
}

function createAppClickedHandler()
{
	let appName = $("#id_appName").val();
	let appDesc = $("#id_appDesc").val();
	let appType = $("#id_appType option:selected").text();

	if ( appName === "" || appType === "" || appDesc === "" )
	{
	//only two fields here, both have to be present
		$("#id_errorMSG").text("Your Application needs a name and a more descriptive description!!!");
		return;
	}
	
	let args = {
		AppName : appName,
		AppDesc : appDesc,
		AppType : APP_TYPE_MAP[appType]
	};
	function successFunc(args)
	{
		if ( args.errno === CHECK_AVAILABILITY_GOOD )
		{
			$("#id_errorMSG").text("Application created successfully.");
			loadAllApplications();
		}
		else
		{
			$("#id_errorMSG").text("Application created failed, an application with the same info may have existed.");
		}
	};
	ajexCall(args, "/createApp", successFunc, errorFuncDefault);
}

function logoffClickedHandler()
{
	let args = {};
	let url = "/off";
	console.log(args);
	console.log(url);
	ajexCall(args, url);
}

function ajexCall(args, url, successFunc = successFuncDefault, errorFunc = errorFuncDefault)
{
    $.ajax(
    {
        type : 'POST',
        url : url,
        datatype: 'json',
        data : args,
        success : successFunc,
        error : errorFunc
    });
}

function errorFuncDefault(jqXHR, textStatus, errorThrown)
{
	console.log("Ajex Call Error:" + textStatus, errorThrown);
}

function successFuncDefault(response, textStatus, jqXHR)
{
	console.log("Ajex Call success:" + response);
}

function getUrlParameter(sParam)
{
	let re = {};
	var sPageURL = window.location.search.substring(1);
	var sURLVariables = sPageURL.split('&');
	for (var i = 0; i < sURLVariables.length; ++i) 
	{
		var sParameterName = sURLVariables[i].split('=');
		re[sParameterName[0]] = sParameterName[1];
		if (sParameterName[0] == sParam) 
		{
			return sParameterName[1];
		}
	}
	return re;
}	

function createAppHtmlDiv(appInfo)
{
	let appName = appInfo.AppName;
	let appDesc = appInfo.AppDesc;
	let appType = appInfo.AppType;
	let appDetailHtml = "";
	let htmlTagID = "id_" + appName + "_" + appType;
	let collapseDivID = htmlTagID + "_Col";
	if ( appType === APP_TYPE_MAP["Control Application"] )
	{
		appDetailHtml = "<span>Switch: <input type='checkbox'  data-toggle='toggle' id='" + htmlTagID+ "'></span>";
	}
	else
	{
		appDetailHtml = "<span id='" + htmlTagID + "'>App Data: </span>"
	}
	let delButtonID = htmlTagID + "_del";
	let delAppButton = "<div class='pull-right' id='" + delButtonID + "'><span class='glyphicon glyphicon-remove'></span></div>";
	let appHtml = "<div class='panel panel-default'> 																	\
      <div class='panel-heading'>																						\
        <h4 class='panel-title'>																						\
          <a data-toggle='collapse' href='#" + collapseDivID + "'>						\
          " + appName + ": " + appDesc + "</a> " + delAppButton + "													\
        </h4>																											\
      </div>																											\
      <div id='" + collapseDivID + "' class='panel-collapse collapse'>													\
        <div class='panel-body'>																						\
       		" + appDetailHtml + "																						\
        </div>																											\
      </div>																											\
    </div>";
    return {HtmlStr: appHtml, DelDivId : delButtonID, HtmlTagId: htmlTagID};
}


function setupWebsocket(email) {
    // if user is running mozilla then use it's built-in WebSocket
    window.WebSocket = window.WebSocket || window.MozWebSocket;

    let connection = new WebSocket('ws://127.0.0.1:1337?email=' + email);

    connection.onopen = function () {
        // connection is opened and ready to use
    };

    connection.onerror = function (error) {
        // an error occurred when sending/receiving data
    };

    connection.onmessage = function (message) {
        // try to decode json (I assume that each message from server is json)
        try {
            let appData = JSON.parse(message.data);
            console.log(appData);
            for ( let i in appData )
            {
            	let app = appData[i];
            	if ( app.AppType === APP_TYPE_MAP["Monitor Application"] )
            	{
            		let htmlTagID = "id_" + app.AppName + "_" + app.AppType;
            		$("#"+htmlTagID).text("App Data: " + app.Data);
            	}
            }

        } catch (e) {
            console.log("This doesn't look like a valid JSON: ", message.data);
            return;
        }
        // handle incoming message
    };
}

function debug(text)
{
	let oldText = $("#id_test").text();
	let debugText = oldText + "\n" + text;
	$("#id_test").text(debugText);
}

</script>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Confreak</a>
    </div>

<!--  Menu with Drop down, leave this here in case furture usage.
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
    </ul>
-->

    <ul class="nav navbar-nav navbar-right">
      <li data-toggle="modal" data-target="#myModal"><a href="#"><span class="glyphicon glyphicon-plus"></span> Create Application</a></li>
      <li><a id="id_off" href="off"><span class="glyphicon glyphicon-log-in"></span> Log Off</a></li>
    </ul>
  </div>
</nav>
  <!-- Application Creation popup -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Your Application</h4>
        </div>
        <div class="modal-body">
          
          	
          		<label>App Name: </label>
				<input id="id_appName" type="text" name="appName" value=""  class="form-control" maxlength="16" placeholder="Application Name" >
				<label>App Description: </label>
				<input id="id_appDesc" type="text" name="appName" value=""  class="form-control"  placeholder="Application Description">
				<label>App Type: </label>
				<select class="form-control" id="id_appType" >
		        	<option>Control Application</option>
		        	<option>Monitor Application</option>
		      	</select>

		      	<span id="id_errorMSG" style="color:red; font-size:75%">&nbsp;</span></p>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-default" id="id_createApp">Create</button>
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<p id="id_test"> welcome to confreak</p>

<div class="panel-group" id="id_appDashBoard">
    
</div>


</body>
</html>
<!-- Steeng create at: Fri Aug 19 18:33:33 EDT 2016 -->
