<!DOCTYPE html>
<html>
<head>
<title>Confreak</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>

	h1{
		text-align:center;
		color: green;
		font-family:fantasy;
	}
		
	#formid{
		border:1px solid grey;
		border-radius:5px;
		padding:10px;
	}
		
	table{
		margin-left:auto;
		margin-right:auto;
	}

</style>

<script type="text/javascript">
$(document).ready(function(){

});

</script>
</head>

<body>
	
	<div class="container">
	<h1>&nbsp;</h1>
	<h1>Confreak</h1>
	<table>
		<tr><td>
			<div id="formid">
				<form method="post" action="\login">
				<input type="email" name="email" value=""  class="form-control"  placeholder="Email" required></p>
				<input type="password" name="password" value="" class="form-control" placeholder="Password" required pattern=".{6,}"></p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="text-center"> 
				<input id="login" type="submit" name="commit" class="btn btn-success" value="Login">
				</div>
				</form>
			</div>
			</td>
		</tr>
		<tr>
			<td>
				<span><a href="register" style="font-size:75%;">New user, click here</a></span>
			</td>
		</tr>
    </table>
    </div>

</body>
</html>
<!-- Steeng create at: Sun Aug 14 22:12:16 EDT 2016 -->
