<!DOCTYPE html>
<html>
<head>
<title>Confreak</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>

	h1{
		text-align:center;
		color: green;
		font-family:fantasy;
	}
		
	#formid{
		border:1px solid grey;
		border-radius:5px;
		padding:10px;
	}
		
	table{
		margin-left:auto;
		margin-right:auto;
	}

</style>

<script type="text/javascript">
const LOGIN_ERROR_EMAIL_NOT_FOUND = "-1";
const LOGIN_ERROR_WRONG_PASSWORD = "-2";

$(document).ready(function(){
	var errno = getUrlParameter("errno");
  	console.log(errno);
  	if ( errno )
  	{
  		if ( errno === LOGIN_ERROR_EMAIL_NOT_FOUND )
  		{
  			$("#id_email").val("");
  			$("#id_password").val("");
  			$("#errorMSG").text("Email address not found.");
  		}
  		else if ( errno === LOGIN_ERROR_WRONG_PASSWORD )
  		{
  			$("#id_password").val("");
  			$("#errorMSG").text("Password is wrong.");
  		}
  		else
  		{
  			$("#errorMSG").text(" ");
  		}
  	}
  	else
  	{
  		$("#errorMSG").text(" ");
  	}
});

function getUrlParameter(sParam)
{
	var sPageURL = window.location.search.substring(1);
	var sURLVariables = sPageURL.split('&');
	for (var i = 0; i < sURLVariables.length; i++) 
	{
		var sParameterName = sURLVariables[i].split('=');
		if (sParameterName[0] == sParam) 
		{
			return sParameterName[1];
		}
	}
}	

</script>
</head>

<body>
	
	<div class="container">
	<h1>&nbsp;</h1>
	<h1>Confreak</h1>
	<table>
		<tr><td>
			<div id="formid">
				<form method="post" action="\login">
				<input id="id_email" type="email" name="email" value=""  class="form-control"  placeholder="Email" required></p>
				<input id="id_password" type="password" name="password" value="" class="form-control" placeholder="Password" required pattern=".{6,}">
				<span id="errorMSG" style="color:red; font-size:75%">&nbsp;</span></p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="text-center"> 
				<input id="login" type="submit" name="commit" class="btn btn-success" value="Login">
				</div>
				</form>
			</div>
			</td>
		</tr>
		<tr>
			<td>
				<span><a href="register.ejs" style="font-size:75%;">New user, click here</a></span>
			</td>
		</tr>
    </table>
    </div>

</body>
</html>
<!-- Steeng create at: Sun Aug 14 22:12:16 EDT 2016 -->
