<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>

	h1
	{
		text-align:center;
		color: green;
		font-family:fantasy;
	}
		
	#formid
	{
		padding:10px;
	}
		
	table
	{
		margin-left:auto;
		margin-right:auto;
	}

</style>

<script type="text/javascript">
$(document).ready(function(){


});

function checkAvailablity()
{
	var email = $("#id_email").val();
	var args = {email: email};
	$.ajax({
		type: "post",
		url: "/checkAvailablity",
		data: args,
		dataType : "json",
		success : function(response, textStatus, jqXHR)
		{
			if (response.errno === 0)
			{
				$("#errorMSG").text("");
			}
			else
			{
				$("#errorMSG").text("Email has been used, please try another one");
				$("#id_email").val("");
			}
		},
		error: function(jqXHR, textStatus, errorThrown)
		{
			console.log("The following error occurred at checkAvailablity with args " + args + ": " + textStatus, errorThrown);
		}
	});
}


</script>
</head>

<body>

<div class="container">
	<h1>&nbsp;</h1>
	<h1>Register Confreak</h1>
	<table>
		<tr><td>
			<div id="formid">
				<form method="post" action="\create">
				<input id="id_email" type="email" name="email" value=""  class="form-control"  placeholder="Email" required onblur="checkAvailablity()"></p>
				<input type="password" name="password" value="" class="form-control" placeholder="Password" required pattern=".{6,}" title="6 chars at least"></p>
				<input type="text" name="userName" value="" class="form-control" placeholder="User Name" required>
				<span id="errorMSG" style="color:red; font-size:75%"></span></p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="text-center"> 
				<input id="create" type="submit" name="commit" class="btn btn-success" value="Create">
				</div>
				</form>
			</div>
			</td>
		</tr>
    </table>
    </div>


</body>
</html>
<!-- Steeng create at: Fri Aug 19 18:29:49 EDT 2016 -->
